{% extends './base.html' %}
{% load bootstrap4 %}
{% block content %}
<h1>Bitcoin Simulation</h1>
<p>
    このsimulationでは2019年の1月からスタートし、2020年の5月までを対象の期間とします。<br>
    2019年1月のビットコインは、１単価約3800ドルです。<br>
    投資間隔日おきに終値が買う基準ドル以下の場合一回で買う量個買い、売る基準ドル以上ですべて売ります。<br>
    終了日の時点で値段にかかわらずすべて売ります。<br>
    どういう投資行動をしたらいくらの利益がでて、最大何ドル分のストックを抱えることになるでしょうか。
</p>

        



<form action='{% url "bbs:calc" %}' method='post' class='form'>
    {% csrf_token %}
    {% bootstrap_form inoutForm layout='horizontal' %}
    <button type='submit' class='btn btn-outline-primary'>実行する</button>
    
</form>






{% endblock %}